:root{
  --btn-color: #8687e7;
}

.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  font-size: 1.6rem;
}

@media (max-width: 767px) {
  body {
    width: 100vw;
  }
}
